<h1>Documentation</h1>
<a href="/">Home</a>

<h2>What is prsntAI?</h2>
<p>A web application that uses AI to generate presentations slides live using the presenter's speech.</p>

<h2>How does it work?</h2>
<p>The web application transcribes a presentation speech to text. It then takes this text and passes it through a fine tuned GPT-3.5 prompt create content for a slideshow which then gets displayed. It is capable of displaying a title, text, bullet points, and images on each slide.</p>
<p>More information can be found on the <a href="https://github.com/orgs/prsntai/repositories" target="_blank" rel="noopener">GitHub Repository</a>.</p>

<h2>How do I use it?</h2>
<p>Go to <a href="/ai">AI Tool</a> and enable your microphone. A slideshow will automatically appear as you speak.</p>