<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>prsntAI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <a href="/" class="nav-element">Home</a>
        <a href="/ai" class="nav-element">AI Tool</a>
        <a href="/docs" class="nav-element">Documentation</a>
        <a href="https://github.com/orgs/prsntai/repositories" target="_blank" rel="noopener" class="nav-right">GitHub</a>
    </div>
    <h1>Home</h1>
</body>
</html>